<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レシート情報</title>
</head>
<body>
	<form th:action="@{receipt_infoList}" method="post">
			<input type="submit" value="取得">
	</form>
	<!--<a href="javascript:submitFnc();">submit</a>-->
	<table>
		<tr th:each="receipt_info : ${receipt_infoList}" th:object="${receipt_info}">
			<td th:text="*{kirokuNum}"></td>
			<td th:text="*{hizuke}"></td>
			<td th:text="*{tempo}"></td>
			<td th:text="*{kingaku}"></td>
		</tr>
	</table>
	
</body>
</html>